{% extends 'app2/base.html' %}
{% block content %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand name">IPRJ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app2:WebPostList2' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app2:database2' %}">Bases de Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Ajuda</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link">Sobre</a>
                    </li>
                </ul>
	     	<div  class="login-area ml-auto mt-mb-2">
                {% if user.is_authenticated %}
                        <ul style="list-style: none;">
                        <li class="nav-item dropdown" style="float: right;">
                            <a class="nav-link dropdown-toggle" style="color: #fff;" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-user-lg"></i> {{ user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown06">
                                <a class="dropdown-item" href="{% url 'app2:perfil' %}">Perfil</a>
                                <a class="dropdown-item" href="#">Criar alertas</a>
                                <a class="dropdown-item" href="#">Consultar alertas</a>
                                <a class="dropdown-item" href="#">Editar alertas</a>
                                <a class="dropdown-item" href="#">Excluir alertas</a>
                                <a class="dropdown-item" href="{% url 'app2:logout' %}">Sair</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                        <a class="login-link text-nowrap" href="{% url 'app2:submit_login' %}">Faça seu login!</a><br>
                        <a class="register-link text-nowrap" href="{% url 'app2:register' %}">Não tem uma conta? Cadastre-se!</a>
                {% endif %}
            </div>
            </div>

            </div>
        </nav>
        <div class="container-fluid" style="background-color: #00466e">
            <div class="row">
                <main role="main" class="col-md-10 ml-sm-auto col-lg-12 px-md-6">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <div class="container-fluid" align="center" style="z-index: 10">
                            <h1 class="display-3" style="color: #fff">Sobre</h1>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="card">
                            <div class="col-lg-auto">
                                <h3 align="center">O projeto</h3>
                                <hr size = 7>
                                <p class="lead">&ensp;&ensp; &ensp;A pandemia da Covid-19 encontrou o mundo despreparado para enfrentá-la, carente de recursos humanos e, especialmente, de soluções que pudessem evitar tão alto grau de contágio e de óbitos.  O coronavírus trouxe incertezas econômicas, políticas e demográficas, e se destacou em relação a todos os demais fenômenos que pareceriam marcar a nova década do século XXI (UEBEL, 2020). O Brasil, mais especificamente, está sendo profundamente afetado pela pandemia, com grande grau de contágio entre a população e índices de óbitos em crescente evolução (IPEA, 2020).</p>
				<p class="lead">&ensp;&ensp; &ensp;Dentro desse cenário, urge a criação de soluções que possam, no menor prazo possível, minimizar os efeitos maléficos da pandemia. Entre essas soluções, apresenta-se a possibilidade da criação de ferramentas que possam facilitar a coleta e classificação de metadados de trabalhos científicos ou de relevância científica sobre a Covid-19. Essas ferramentas poderiam apoiar a pesquisa bibliográfica de pesquisadores, cidadãos e organizações públicas, privadas ou do terceiro setor, apoiando sua tomada de decisão e a definição de ações relacionadas à pandemia.</p>
				<p class="lead">&ensp;&ensp; &ensp;O desenvolvimento de ferramentas de coleta e classificação de informações pode ser apoiada pela construção de web crawlers. Web crawlers são aplicações de software que, de forma sistematizada, vasculham a internet através de tarefas automatizadas (scripts) visando buscar e catalogar informações disponíveis na rede mundial de computadores. O termo web scraping, por sua vez, se refere à coleta de dados realizada por intermédio dos web crawlers, que executam a requisição de dados ao servidor das páginas acessadas, compilando esses dados de modo que a informação desejada possa ser extraída (MITCHELL, 2015).</p>
				<p class="lead">&ensp;&ensp; &ensp;Nesse contexto, esse projeto tem como objetivo o desenvolvimento de web crawlers que busquem informações relevantes de descobertas e conhecimentos científicos referentes a artigos publicados em revistas médicas e matérias disponibilizadas na Web que abordem a doença Covid-19.  Ademais, busca-se a criação de um sistema de acesso livre aos metadados coletados e que disponibilize diferentes mecanismos de filtragem ao usuário, por intermédio do uso de strings de busca, a partir da escolha de diferentes atributos (assunto, título, resumo, autoria, período de publicação), de acordo com a demanda desejada.</p>
				<p class="lead">&ensp;&ensp; &ensp;Enfim, o acesso a um mecanismo que permita encontrar, de forma simplificada, trabalhos científicos publicados em revistas médicas e notícias referentes à pandemia publicadas em veículos de referência (jornais, revistas etc), pode ser um diferencial importante para o desenvolvimento de soluções para o problema. Ressalta-se que essa ferramenta somente lista as referências das publicações relacionadas à pandemia, permitindo o redirecionamento do usuário aos repositórios que disponibilizam os seus conteúdos. Os conteúdos das publicações não são armazenados em nossa base de dados.</p>
                            </div>
                        </div>
                        <br>
			<br>
                        <div class="card">
                            <div class="col-lg-auto">
                                <h3 align="center">Público alvo</h3>
                                <hr size = 7>
                                <p class="lead">&ensp;&ensp; &ensp;Pesquisadores, organizações públicas e privadas, organizações do terceiro setor e empreendedores, de uma maneira geral, que tenham interesse em desenvolver soluções para a Covid-19.</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="col-lg-auto">
                                <h3 align="center">Equipe</h3>
                                <hr size = 7>
                                <p class="lead">&ensp;&ensp; &ensp;A equipe que atua/atuou no projeto é formada por professores, técnico-administrativos, alunos e egressos do Instituto Politécnico da Universidade do Estado do Rio de Janeiro (IPRJ):</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Anderson Amendoeira Namen</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Anderson Cordeiro Charles</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Carlos Cardoso Dias</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Edgard Poiate Junior</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Edson Mello Lucas</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Gabriela Pinheiro Heringer</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Gustavo Barbosa Libotte</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Lucas de Paula Oliveira dos Santos</p>
                                <p class="lead">&ensp;&ensp; &ensp;- Maria Eduarda Ornelas Hisse</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="col-lg-auto">
                                <h3 align="center">Contato</h3>
                                <hr size = 7>
                                <p class="lead">&ensp;&ensp; &ensp;Para entrar em contato conosco: </p>
                                <p class="lead">&ensp;&ensp; &ensp;e-mail: projetorobocovid@gmail.com </p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="col-lg-auto">
                                <h3 align="center">Referências</h3>
                                <hr size = 7>
                                <p class="lead">&ensp;&ensp; &ensp; IPEA – Instituto de Pesquisa Econômica Aplicada. Pandemia e fronteiras brasileiras: Análise da evolução da Covid-19 e proposições. Nota Técnica - DIRUR – Diretoria de Estudos e Políticas Regionais, Urbanas e Ambientais. Brasília, 2020.</p>
                                <p class="lead">&ensp;&ensp; &ensp; MITCHELL, R., Web Scraping with Python: Collecting Data from the Modern Web. Estados Unidos: O’Reilly Media, 2015.</p>
                                <p class="lead">&ensp;&ensp; &ensp; UEBEL, R. R. G. A geopolítica do coronavírus em tempos de incertezas. Diálogos Internacionais, Vol. 7, No. 70, 2020.</p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
{% endblock %}       
