{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Bases de Dados</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">
        <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'favicon96.png' %}" >
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../static/jquery.slim.min.js"><\/script>')</script><script src="../../static/bootstrap.bundle.js"></script>
    </head>
    <body>
        <div class="row featurette">
            <div class="container-fluid" align="center">
                <img class="img-fluid" src="http://www.iprj.uerj.br/images/logoIprj.png">
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand name">IPRJ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample04">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:WebPostList' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link">Bases de Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Ajuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:about' %}">Sobre</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" style="background-color: #00466e">
            <div class="row">
                <main role="main" class="col-md-10 ml-sm-auto col-lg-12 px-md-6" style="height: 700px">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <div class="container-fluid" align="center" style="z-index: 10">
                            <h1 class="display-3" style="color: #fff">Bases de Dados</h1>
                            <p style="color: #fff">Informações sobre os artigos e notícias coletados.</p>
                        </div>
                    </div>
                    <div class="container-fluid">
                        </br>
                       <div class="row featurette featurette-color" style="border-radius: 0.25rem">
                          <p class="lead">As informações são coletadas de bases nacionais e internacionais de forma automatizada, seguindo uma política de atualização baseada em estatística.</p>
                        </div>
                    </div>
                </main>
            </div>
        </div>
 
        <footer class="footer-class">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="custom">
                            <div class="footer-example">
                                <p>© Copyright 2020</p>
                                <p> Site hospedado na Cotplan/IPRJ/UERJ</p>
                                <p><strong>Versão 0.13</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>

