{% extends 'app2/base.html' %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand name" href="http://www.iprj.uerj.br/" target="_blank">IPRJ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample04">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app2:WebPostList2' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app2:database2' %}">Bases de Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Ajuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="margin-right: 80px" href="{% url 'app2:about2' %}" >Sobre</a>
                    </li>
                </ul>
                <div  class="login-area ml-auto mt-mb-2">
                {% if user.is_authenticated %}
                    <ul style="list-style: none;">
                                <li class="nav-item dropdown" style="float: right;">
                                    <a class="nav-link dropdown-toggle" style="color: #fff;" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-user-lg"></i> {{ user.username }}</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                                        <a class="dropdown-item" href="{% url 'app2:perfil' %}">Perfil</a>
                                        <a class="dropdown-item" href="{% url 'app2:meus_alertas' %}">Meus Alertas</a>
                        <a class="dropdown-item" href="{% url 'app2:criar_alerta' %}">Criar alerta</a>
                                        <a class="dropdown-item" href="{% url 'app2:logout' %}">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                    <a class="login-link text-nowrap" href="{% url 'app2:submit_login' %}">Faça seu login!</a><br>
                    <a class="register-link text-nowrap" href="{% url 'app2:register' %}">Não tem uma conta? Cadastre-se!</a>
                {% endif %}
            </div>
            </div>
        </nav>

    <div class="h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="../../../static/favicon96.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <p>Sua senha foi alterada com sucesso!</p><br>
                    <a href="{% url 'app2:perfil' %}">Ir para perfil.</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


